name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          cache: "yarn"
          node-version-file: .nvmrc
          package-manager-cache: false

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Check types
        run: yarn typecheck

      - name: Lint
        run: yarn lint

      - name: Prettier
        run: yarn prettier:check

      - name: Spellcheck
        run: yarn spellcheck

      - name: Unit tests
        run: yarn test:ci

      - name: Build frontend
        run: yarn build
